@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/* Large divs */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    background-color: #FFCFDB;
}

a {
    color: black;
    text-decoration: none; 
}

.container {
    /*background-color: red;*/
    width: 100%;
    height: auto;
}

.box {
    /*background-color: lightblue;*/
    width: 90%;
    height: 770px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    
    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.me, .projects {
    
    /*background-color: yellow;*/
    margin: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.me {
    width: 30%;
    min-width: 550px;
    max-width: 650px;
    max-height: 1000px;
}

.projects {
    margin-top: 0.9rem; /*'Martin' & 'My projects' alignment*/
    width: 30%;
    padding-top: 71px;
    min-width: 630px;
}

@media screen and (max-width:1430px) {
    * {
        margin: 0;
        padding: 0;
    }
    .box{
        height: auto;
    }
    .me {
        min-height: 100vh;
        /*background-color: aqua;*/
        margin: 0 auto;
        width: 50%;
        max-width: 1300px;
        
        display: flex;
        flex-wrap:wrap;
        align-content: center; /* this was what I was looking for!!!!*/
        align-items: center;

    }
    .projects {
        margin-top: 0;
        padding: 0;
        width: 90%;
        min-height: 100vh;
        min-width: 450px;
        text-align: center;
        max-width: 700px;
        justify-content: center;

        display: flex;
        justify-content: space-evenly;
        flex-wrap:wrap;
        align-content: center; /* this was what I was looking for!!!!*/
        align-items: center;
    }
    .portfolio {
        justify-content: center;
        min-height: 600px;
    }
    .app-box {
        margin: 10px !important;
    }
}

/* Bio */
h1 {
    font-size: 63px;
}

.myname {
    font-weight: bold;
    color: #FD2256;
}

h2 {
    font-size: 50px;    
}

h3, p {
    font-size: 27px;
}

.hi, h1 {
    font-weight: normal;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-left: 2px;
}

.titles {
    margin-bottom: 25px;
}

.aboutme p {
    margin-bottom: 25px;
}

.languages {
    color: #FD2256;
}

.links a:hover{
    color: #FD2256;
}

/* Projects */
.portfolio {
    /*background-color: blueviolet;*/
    padding: 0.5rem 0;
    height: 550px;
    
    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.app-box {
    /*background-color: aqua;*/
    width: 41%;
    height: 175px;
    min-width: 300px;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 1;
}

.overlay {
    width: 100%;
    height: 80%;
    background-color: #FD2256; /* the color every image will take on hover*/
}

.app-box img {
    /* Now every image covers 100% of its parent (the div w/ 'overlay' class)*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid black;
    
}

.card-text {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    padding-top: 0.5rem;
}

.app-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.app-box:hover img{
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    mix-blend-mode: luminosity;
    border-bottom: none;
}

.app-box:hover {
    border: 1px solid #FD2256;
}

.app-box:hover .overlay {
    border-bottom: 1px solid #FD2256;
}

.app-box:hover .card-text {
    padding-top: 0.45rem;
    color: #FD2256;
}

@media screen and (max-width:813px) {
    .projects {
        padding: 0;
        width: 90%;
        min-height: 136vh;
        min-width: 450px;
        text-align: center;
        max-width: 700px;
        justify-content: center;

        flex-wrap: wrap;
        align-content: flex-start;
        align-items: baseline;
    }
    .portfolio {
        min-height: 1180px;
    }
}

@media screen and (max-width:620px) {
    .me, .projects {
        min-width: 450px;
    }
    .portfolio {
        min-height: 1180px;
    }
}

@media screen and (max-width:450px) {
    .me, .projects {
        min-width: 320px;
    }
    .portfolio {
        min-height: 1180px;
    }
    h1 {
        font-size: 53px;
    }
        
    h2 {
        font-size: 40px;    
    }
    
    h3, p {
        font-size: 17px;
    }
}